* {
    color: white;
    font-family: monospace;
    font-size: 30px;
    text-align: center;
}

#ark {
    color: white;
    font-size: 150px;
    font-weight: 900;
    position: absolute;
    width: 1000px;
    margin: 0px 0px 0px -500px;
    top: 5%;
    left: 50%;
}

#logo {
    position: absolute;
    width: 500px;
    height: 500px;
    margin: -250px 0px 0px -250px;
    top: 58%;
    left: 50%;

}

#start {
    color: white;
    text-align: center;
    position: absolute;
    width: 500px;
    margin: 0px 0px 0px -250px;
    top: 90%;
    left: 50%;
    animation: scintillement 1.5s infinite;
}
    @keyframes scintillement {
        0% { opacity:0; }
        50% { opacity:1; }
        100% { opacity:0; }
    }